:root {
  --navbar-height: 50px;
}

body {
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.bottomnav {
  bottom: 0px;
  flex-direction: row;
}


nav {
  bottom: 0px;
  display: flex;
  flex-direction: row;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

table {
  width: 100%;
}

tr:hover {
  background-color: lightgray;
}

.image {
  max-height: 300px;
  resize: both;
  overflow: auto;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.articleView {
  height: 100%;
  overflow: auto;
}

.parsedArticle {
  object-fit: contain;
  overflow: auto;
}

h1 {
  text-decoration-color: none;
}