:root {
  --navbar-height: 50px;
  --background-color: rgb(245,245,245);
  --text-color: black;
  --text-hovor-color: royalblue;
  --logo-color: black;
  --logo-background-hovor-color: lightblue;
  --decoration-color: lightcoral;
}

.clickable-text {
  color: var(--text-color);
}

.clickable-text:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--decoration-color);
  color: var(--text-hovor-color);
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--background-color);
  border: 2px solid var(--text-hovor-color);
  margin: 0;
  outline: 0 !important;
}

button:hover {
  background-color: var(--logo-background-hovor-color);
}

button:active:hover {
  background-color: var(--decoration-color);
}

.app {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.bottomnav {
  bottom: 0px;
  flex-direction: row;
}


nav {
  bottom: 0px;
  display: flex;
  flex-direction: row;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:hover {
  outline: 2px solid var(--decoration-color);
}

th {
  text-align: left;
}

.image {
  max-height: 300px;
  margin: 1em;
  resize: both;
  overflow: auto;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.articleView {
  height: 100%;
  overflow: auto;
}

.parsedArticle {
  object-fit: contain;
  overflow: auto;
}

.logo {
  border: 1em solid transparent;
  width: -moz-min-content;
  width: -webkit-min-content;
  white-space: nowrap;
  color: var(--logo-color);
  outline: 2px solid transparent;
}

.logo:hover {
  background: var(--logo-background-hovor-color);
  border: 1em solid var(--decoration-color);
  outline: 2px solid var(--text-hovor-color);
} 

.formInput {
  outline: 0 !important;
  background: var(--background-color);
  border: 2px solid var(--text-hovor-color);
  padding: 4px;
  font-size: 14pt;
  cursor: var(--logo-background-hovor-color);
  resize: none;
}

#articleInputForm {
  display: flex;
  flex-direction: column;
  font-size: 18pt;
}

.checkboxdiv {
  display: flex;
  position: relative;
  flex-direction: row;
}

.myCheckbox {
  display: flex;
  flex-direction: row;
  position: relative;
}

.myCheckbox > input {
  /* // display: none;
  // Better than display: none for accessibility reasons; */
  position: absolute;
  margin: 0;
  width: 24px;
  height: 24px;
  z-index: 2;
  opacity: 0;
}

.myCheckbox span {
  margin-right: 20px;
  top: 0;
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  color: transparent;
  border: 2px solid var(--text-hovor-color) !important;
}

.myCheckbox > span::selection{
  background: transparent !important;
}

.myCheckbox input:hover + span {
  background: var(--logo-background-hovor-color);
}

.myCheckbox input:active + span {
  background: var(--decoration-color)
}

.myCheckbox input:checked + span {
  color: var(--text-hovor-color);
}